@charset "UTF-8";

@media screen and (min-width:741px) {
    span#burger{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul >li{
        display: inline-block;
    }
    main{
        width: 800px;
    }
}