@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body , html{
    background-color: lightgray;
}
header{
    background-color: rgb(146, 145, 145);
}
header > h1{
    padding: 10px;
    text-align: center;
}
span#burger{
    background-color: rgb(59, 59, 59);
    display: block;
    width: 100vw;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
span#burger:hover{
    background-color: white;
    color: black;
}
menu{
    display: block;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(88, 88, 88);
    color: #fff;
    border-top: 1px solid gray;
}
menu > ul > li > a:hover{
    background-color: gray;
}
main{
    width: 90vw;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
article > h2{
    padding-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
}